

.category-items {
  border: 1px solid #0275d8;
  background-color: white;
  color: #0275d8;
  text-align: center;
  width: 80%;
  margin: 0.1rem 0 auto;
  border-radius: 2px;
}

.category-items a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: none;
  padding: 5px;
}

.category-items a:hover {
  background-color: #0275d8;
  color: white;
}

.sticky-top {
  top: 120px;
}
