<div class="container">
  <table class="table table-bordered" >
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency:'INR' }}</td>
          <td><button (click)="deleteProduct(product._id)" class="btn btn-outline-danger btn-sm">Delete Product</button></td>
          <td><a [routerLink]="['/edit-product', product._id]" class="btn btn-outline-secondary btn-sm">Edit Product</a></td>
        </tr>
        <tr>
      </tbody>
    </table>
  <a routerLink="/add-product" class="btn btn-outline-secondary">Add Product</a>
  <p *ngIf="products.length === 0">No products found!</p>
  <p>  </p>

  <table class="table table-bordered" >
    <thead class="thead-light">
      <tr>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="categories.length > 0">
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td><button (click)="deleteCategory(category._id)" class="btn btn-outline-danger btn-sm">Delete Category</button></td>
      </tr>
      <tr>
    </tbody>
  </table>
  <a routerLink="/add-category" class="btn btn-outline-secondary">Add Category</a>
  <p *ngIf="categories.length === 0">No categories found!</p>
</div>
